.grid__footer--top
  .grid__footer--top--left
    a.grid__footer--top--left--link(href='#' target='_blank') Privacy
    a.grid__footer--top--left--link(href='#' target='_blank') Terms
    
  .grid__footer--top--right
    a.grid__footer--top--right--link(href='#' target='_blank')
    a.grid__footer--top--right--link(href='#' target='_blank')
    a.grid__footer--top--right--link(href='#' target='_blank')
  
.grid__footer--copy
  p &copy; 2020 Saleswhale, Inc. All rights reserved.
