nav.nav
  .nav__logo
    a.nav__logo--link(href='/')
      img.nav__logo--link--img(src='assets/images/icons/whalelogo.svg' alt='logo.svg')
  
  .nav__mainlinks
    a.nav__mainlinks--link(href='#') Why Saleswhale?
    a.nav__mainlinks--link(href='#') Product
    a.nav__mainlinks--link(href='#') Company
  
  .nav__buttons
    button.nav__buttons--login Log In
    button.nav__buttons--demo Get a Demo
